[Unit]
Description=Configure gmsl camera


[Service]
Type=simple
ExecStartPre=/usr/bin/python -u /usr/local/bin/configure-camera/cam_cfg.py
#ExecStart=/home/nvidia/pano.sh
#ExecStart=/usr/bin/python -u /usr/local/bin/configure-camera/cam_cfg.py
#ExecStart=/home/nvidia/code/0929IS/build/slave
ExecStart=/usr/local/bin/slave
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=multi-user.target

